<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
	<listener class-name="inhouseSystems_UTILS.Reporting" />
</listeners>

 <test thread-count="5" name="Test">


<parameter name="browser" value="firefox" />
<!--parameter name="browser" value="chrome" /-->

    <classes>
      <class name="inhouseSystems_TESTCASES.tc_01"/>
      <!--class name="BaseClass_package.base_class"/-->
    </classes>


  </test> <!-- Test -->
</suite> <!-- Suite -->
